/*put id of the whichever type of tag to stylize*/
html
{
    height: 100%;
    margin: auto;
    width: auto;
    overflow-x: visible;
}
/*Setting the Background!*/
body
{
    background-color:  black;
    height: 100%;
}
/* Aligning the Heading 1 */
h1
{
    text-align: center;
    clear: both;
    height: auto;
}
/* Color of Main Sign */
#main-action
{
    color:whitesmoke;
}
/* Aligning the Description */
.sub-header
{
    text-align: center;
    color: whitesmoke;
}

/*****************************/
/* Placement of User Options */
/*****************************/
#choose-ride
{
    position: absolute;
    background-color:#696969;
    color: whitesmoke;
    margin-left: 160px;
    display: block;
    top:250px; 
    border: 2px solid whitesmoke;
    font-size:20px;
    font-family: Georgia;
    font-weight:bold;
    border-radius:10px;
    width: 300px;
    height:30px;
    text-align:center;
}
/*Make ride-choices to be in boxes*/
div.uber-choices > div
{
    border: 3px solid whitesmoke;  
    color: white; 
    width: 300px; 
    text-align: center; 
    margin-bottom: 1px; 
    margin-left: 150px;
    margin-top:50px;
    border-radius:10px;
}
/*Using pseudo-classes to move user to payment options*/
a:link, a:visited
{
    text-decoration: none; 
    color: white; 
    display: block;
    border: 3px solid whitesmoke;
    font-weight:bold;
    font-size:120%;
    font-family: Georgia;
}
a:hover, a:active
{
    background-color: #696969;
    color: black;
    transition: all 0.4s ease 0s;
}
/* UberX */
#ride-choice1
{
    position: absolute; 
    top: 300px;
    left: 17px;
}
/*UberX warning sign */
/*#aval-warning
{
    position: absolute; 
    top: 375px; 
    left: 30px;
    color: red;
}*/

/* UberXL */
#ride-choice2
{
    position: absolute; 
    top: 600px; 
    left: 17px;
    color:whitesmoke;
}
/*Adjust UberXL image to border*/
#uberxl-logo
{
    position: relative;
    max-width: 95%;
}

/* UberNew */ 
#ride-choice3
{
    position: absolute; 
    top: 900px; 
    left: 17px;
    color: whitesmoke;
}
/* uber Logo Dynamic Position  */
#uber-logo
{
    position:absolute;
    top: 20px;
    height: auto;
    max-width: 20%;
    clear: left;
    transition: opacity 1s;
}
@media screen and (max-width: 800px) 
{
    #uber-logo {
        opacity: 0;
    }
}


/*****************************/
/*Placement of Payment Options*/
/*****************************/
/* Aligning the List of Payment Options 1(Type of Card) */
.payment 
{
    color:whitesmoke; 
    position:absolute; 
    top:1200px;  
    left: 17px;
}
/* Aligning the List of Payment Options(The Cards) */
#payment-choice
{
    color:whitesmoke; 
    position: absolute; 
}
#choose-payment
{
    position: absolute;
    background-color: #696969;;
    color: whitesmoke;
    margin-left: 200px;
    display: block;
    top:1100px; 
    border: 2px solid whitesmoke;
    font-size:20px;
    font-family: Georgia;
    font-weight:bold;
    border-radius:10px;
    width: 220px;
    height:30px;
    text-align:center;
}
/*The creation of the UberWallet*/
div.payment ul
{
    list-style: none; /*removing bullet points(ul,li)*/
    margin-left: 140px;
    margin-bottom:30%;
    font-size: large;
    font-weight: bold;
    display:block;
    border: 3px solid whitesmoke;
    border-radius:10px;
    border-style:double;
    background-color:#8B4513;
    padding:20px;/*extend the box to make it a longer wallet*/
    transition: all 0.4s ease 0s;
}
/*Break lines to create pockets for wallet*/
.wallet-break1
{
    border-top:3px dotted whitesmoke;
    position: relative;
    width:113%;
    margin-left: -18px;
}
.wallet-break2
{
    position: relative;
    border-top:25px solid whitesmoke;
    border-left: 25px solid transparent; 
    border-right: 25px solid transparent;
    height: 0; 
	width: 70%; 
    margin-top:-12px;
}

/*border-left: 25px solid transparent; 
border-right: 25px solid transparent;*/
/*Pseudo-element used to surround wallet break with border*/

.wallet-break3
{
    border-top:3px dotted whitesmoke;
    position: relative;
    width:113%;
    margin-left: -18px;
}
/*3D shadow effect to UberWallet*/
div.payment ul:hover
{
    background:#8B4513;
    letter-spacing:0.2px;
    -webkit-box-shadow: 0px 5px 40px 10px  rgba(247, 238, 238, 0.57)  ;
    -moz-box-shadow: 0px 40px 5px -10px rgba(247, 238, 238, 0.57);
    box-shadow: 5px 40px -10px #8B4513;
    transition: all 0.4s ease 0s; 

}
/*Selecting specific cards from card categories*/
div.payment:nth-child(4)
{
    text-align:center;
}




/*copyright*/
.copyright
{
    position: absolute;
    bottom: -999px;
    left: 15px;
    color: whitesmoke;
}

